---
type Props = {
  title: string;
};

const {title} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Prevent HTTP caching -->
  <meta http-equiv="Cache-Control" content="private, no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Reweaving the Fabric of Learning" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/icon/favicon.svg" />
  <link rel="icon" type="image/png" href="/icon/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />

  <meta property="og:title" content={title} />
  <meta property="og:description" content="Fourth Wall Education" />

  <meta name="twitter:site" content="@astro" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content="Fourth Wall Education" />
</head>
