---
import Badge from "./../atoms/Badge.astro";
import LabeledText from "./../atoms/LabeledText.astro";
import Heading from "./../atoms/Heading.astro";

export type Props = {
  course_code: string;
  course_name: string;
  semester: number;
  difficulty: string;
  programming_language?: string;
};

const {course_code, course_name, semester, difficulty, programming_language} =
  Astro.props;

const border_color_class =
  {
    Fundamental: "border-green-700 hover:border-green-600",
    Beginner: "border-blue-700 hover:border-blue-600",
    Intermediate: "border-yellow-600 hover:border-yellow-500",
    Advanced: "border-red-700 hover:border-red-600",
  }[difficulty] || "border-gray-800 hover:border-gray-700";

const detail_page_url = `/courses/${course_code.toLowerCase()}`;
---

<a
  href={detail_page_url}
  class={`course-card-wrapper block bg-gray-900 rounded-lg shadow-lg p-4 mb-6 text-white hover:bg-gray-800 transition-all duration-150 ease-in-out border-l-4 ${border_color_class}`}
  data-semester={semester.toString()}
  data-difficulty={difficulty}>
  <div class="flex justify-between items-start mb-3">
    <Heading
      level={2}
      text={course_name}
      extra_classes="text-blue-400 mr-2 !text-lg"
    />
    <Badge text={course_code} extra_classes="bg-gray-800" />
  </div>
  <div class="text-sm text-gray-300">
    <LabeledText label="Semester" text={semester} />
    <LabeledText label="Difficulty" text={difficulty} />
    {
      programming_language && (
        <LabeledText label="Language" text={programming_language} />
      )
    }
  </div>
</a>
