---
import Heading from "@atoms/Heading.astro";
import RecursiveListItem from "@molecules/RecursiveListItem.astro";
import type {SimpleListItem} from "@models/types";

export interface Props {
  title: string;
  items: SimpleListItem[];
  heading_level?: 1 | 2 | 3 | 4 | 5 | 6;
  extra_heading_classes?: string;
  extra_section_classes?: string;
  extra_list_classes?: string;
}

const {
  title,
  items,
  heading_level = 2,
  extra_heading_classes = "!text-2xl font-semibold mb-3 text-gray-200",
  extra_section_classes = "mb-6",
  extra_list_classes = "list-none pl-0 text-gray-300",
} = Astro.props;
---

{
  items && items.length > 0 && (
    <section class:list={[extra_section_classes]}>
      <Heading
        level={heading_level}
        text={title}
        extra_classes={extra_heading_classes}
      />
      <ul class:list={[extra_list_classes]}>
        {items.map(item => (
          <RecursiveListItem item={item} />
        ))}
      </ul>
    </section>
  )
}
