---
import {Text} from "@atoms";
import type {Difficulty} from "@models";

type Props = {
  text: string;
  variant: Difficulty;
  size: number;
};

const {text, variant, size} = Astro.props;

const font_size = `${size}rem`;
const padding = `${size * 0.226}rem ${size * 0.857}rem`;
const background_color = `var(--${variant}-background)`;
---

<span class={`badge ${variant === "master" && "master"}`}
  ><Text label={text} size={size} type="secondary" color="var(--white)" />
</span>

<style define:vars={{font_size, padding, background_color}}>
  .badge {
    border-radius: 0.375rem;
    text-align: center;
    border: 1px solid transparent;
    font-size: var(--font_size);
    padding: var(--padding);
    background: var(--background_color);
  }

  .master {
    border: 1px solid color-mix(in srgb, var(--onyx) 90%, var(--white));
    box-shadow: 0 0 10px color-mix(in srgb, var(--white) 12.5%, transparent);
  }
</style>
