---
import type {Course} from "../models/types";
import CourseHeader from "../molecules/CourseHeader.astro";
import DetailSection from "../molecules/DetailSection.astro";

export interface Props {
  course: Course;
  border_color_class: string;
  text_color_class: string;
  badge_style_class: string;
}

const {course, border_color_class, text_color_class, badge_style_class} =
  Astro.props;
---

<article
  class={`bg-gray-900 rounded-lg shadow-lg p-6 md:p-8 border-l-8 ${border_color_class}`}>
  <CourseHeader
    course_name={course.course_name}
    course_code={course.course_code}
    semester={course.semester}
    difficulty={course.difficulty}
    text_color_class={text_color_class}
    badge_style_class={badge_style_class}
  />

  {
    course.description && (
      <p class="text-lg text-gray-300 mb-6 italic">{course.description}</p>
    )
  }

  <DetailSection
    title="Programming Details:"
    items={course.programming_details || []}
  />

  <DetailSection title="References:" items={course.references_list || []} />

  <DetailSection
    title="Topics:"
    items={course.topics_list || []}
    extra_section_classes=""
  />
</article>
