---
import {get_semesters} from "@app/FT-01-curriculum/courses";
import {Divider, Spacer, Text} from "@atoms";
import {user} from "@models";
import {Footer} from "@molecules";
import {CourseList} from "@organisms";
import {Main} from "@templates";

const courses = await get_semesters();
---

<Main title="Fourth Wall Education">
  <div class="content">
    <div class="sidebar">
      {
        user.get().email && (
          <Text
            label={`Welcome ${user.get().email}`}
            type="primary"
            size={1}
            color="var(--fg-color)"
          />
        )
      }
    </div>
    <div class="course-list">
      <CourseList courses={courses} />
      <Divider size={2} faded />
      <Footer copyright="Fourth Wall ⓒ" size={1.25} />
      <Spacer size={2} />
    </div>
  </div>
</Main>

<style>
  .content {
    display: flex;
    gap: 1rem;
  }

  .sidebar {
    width: 20%;
  }

  .course-list {
    width: 80%;
  }

  @media (max-width: 1280px) {
    .sidebar {
      display: none;
    }

    .course-list {
      width: 100%;
    }
  }
</style>
