---
import {parse_curriculum, read_file} from "@app/FT-01-curriculum-parser";
import type {Course} from "@models";
import {CourseHeader, CourseSection} from "@organisms";
import {Main} from "@templates";

type Props = {course: Course};

const {code} = Astro.params;
const curriculum_data = await read_file("curriculum.md");
const courses = parse_curriculum(curriculum_data);
const course = courses.find(c => c.code === code);

if (!course) {
  return Astro.redirect("/404");
}
---

<Main title={`${course.name} - Fourth Wall Education`}>
  <CourseHeader course={course} />

  <CourseSection section_title="Technical Focus" items={course.programming} />
  <CourseSection
    section_title="What You'll Learn"
    items={course.topics.map(topic => topic.name)}
  />
  <CourseSection
    section_title="Further Reading & Resources"
    items={course.references}
  />
</Main>
