---
import {get_course} from "@app/01-curriculum/courses";
import {CourseContent, CourseHeader} from "@organisms";
import {Main} from "@templates";

const {code} = Astro.params;

const course = await get_course(code);
if (!course) {
  return Astro.redirect("/404");
}
---

<Main title={`${course.name} - Fourth Wall Education`}>
  <CourseHeader course={course} />
  <CourseContent course={course} />
</Main>
