---
import type {Course} from "@models";
import {CourseHeader, CourseSection} from "@organisms";
import {Main} from "@templates";
import {getCollection} from "astro:content";

type Props = {course: Course};

const {code} = Astro.params;
const courses = await getCollection("curriculum");
const course = courses
  .map(c => c.data)
  .find(c => c.code.split("-")[1] === code);

if (!course) {
  return Astro.redirect("/404");
}
---

<Main title={`${course.name} - Fourth Wall Education`}>
  <CourseHeader course={course} />

  <CourseSection section_title="Technical Focus" items={course.programming} />
  <CourseSection section_title="What You'll Learn" items={course.topics} />
  <CourseSection
    section_title="Further Reading & Resources"
    items={course.references}
  />
</Main>
