---
import {parse_curriculum, read_file} from "@app/FT-01-curriculum-parser";
import type {Course} from "@models";
import {CourseHeader, CourseSection} from "@organisms";
import {Main} from "@templates";

export const prerender = true;

export function getStaticPaths() {
  const courses = parse_curriculum(read_file("curriculum.md"));
  return courses.map(course => ({
    params: {code: course.code},
    props: {course},
  }));
}

type Props = {course: Course};
const {course} = Astro.props;
---

<Main title={`${course.name} - Fourth Wall Education`}>
  <CourseHeader course={course} />

  <CourseSection section_title="Technical Focus" items={course.programming} />
  <CourseSection
    section_title="What You'll Learn"
    items={course.topics.map(topic => topic.name)}
  />
  <CourseSection
    section_title="Further Reading & Resources"
    items={course.references}
  />
</Main>
