---
import {get_course} from "@app/FT-01-curriculum/courses";
import {CourseHeader, CourseSection} from "@organisms";
import {Main} from "@templates";

const {code} = Astro.params;

const course = await get_course(code);
if (!course) {
  return Astro.redirect("/404");
}
---

<Main title={`${course.name} - Fourth Wall Education`}>
  <CourseHeader course={course} />

  <CourseSection section_title="Technical Focus" items={course.programming} />
  <CourseSection section_title="What You'll Learn" items={course.topics} />
  <CourseSection
    section_title="Further Reading & Resources"
    items={course.references}
  />
</Main>
