---
import type {Course} from "@models/course.model";
import Badge from "@atoms/buttons/Badge.astro";
import Text from "@atoms/text/Text.astro";

type Props = {course: Course};
const {course} = Astro.props;

const accent = {
  fundamental: "var(--green)",
  beginner: "var(--blue)",
  intermediate: "var(--orange)",
  advanced: "var(--red)",
}[course.difficulty];
---

<div class="card" style={`--accent: ${accent}`}>
  <div class="header">
    <div class="title" data-title>
      <Text
        label={course.name}
        size={1.25}
        type="primary"
        color="var(--white)"
      />
    </div>

    <div class="information">
      <Badge text={course.code} variant={course.difficulty} size={0.875} />
      <Text
        label={`Semester ${course.semester}`}
        size={0.875}
        type="accent"
        color="var(--white)"
      />
    </div>
  </div>

  <div class="description">
    <Text
      label={course.description}
      size={0.875}
      type="secondary"
      color="var(--white)"
    />
  </div>

  <div class="bottom_separator">
    <Text
      label={course.difficulty[0].toUpperCase() + course.difficulty.slice(1)}
      size={0.75}
      type="accent"
      color={accent}
    />
    <div class="time">
      <Text
        label={course.time}
        size={0.75}
        type="secondary"
        color="var(--white)"
      />
    </div>
  </div>
</div>

<style>
  .card {
    --dark-border: rgba(255, 255, 255, 0.1);
    --dark-shadow: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark-border);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02)
    );
    box-shadow:
      0 4px 24px -1px var(--dark-shadow),
      0 1px 2px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    container-type: inline-size;
    display: flex;
    flex-direction: column;
  }
  .card:hover {
    transform: translateY(-2px);
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.03)
    );
    box-shadow:
      0 8px 32px -2px var(--dark-shadow),
      0 2px 4px 0 rgba(255, 255, 255, 0.05);
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    margin: -0.75rem -1rem -0.5rem 0.75rem;
    padding: 0.75rem;
    border-left: 1px solid var(--dark-border);
    border-bottom: 1px solid var(--dark-border);
    border-bottom-left-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
  }

  .description {
    margin: 1rem 0 1.5rem;
  }

  .bottom_separator {
    position: relative;
    margin: auto -1rem -0.5rem 0rem;
    padding: 0.25rem 0 0.25rem 0;
    border-top: 1px solid var(--dark-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }

  .time {
    margin-right: 1rem;
  }

  @media (max-width: 464px) {
    .header {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
    }

    .information {
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
      padding: 0 0 1.5rem 0;
      border-left: none;
      background: transparent;
      gap: 1rem;
    }
  }
</style>
